@import url("https://fonts.googleapis.com/css?family=Merriweather|Ubuntu");

.card-wrapper :hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.point-card {
    height: 450px;
    width: 30.3333%;
    margin: 1.5%;
    background-color: rgba(172, 172, 172, 0.829);
    border-radius: 10px;
    text-overflow: ellipsis; 
    color: rgb(2, 2, 48);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    
}

.point-card :hover {
 box-shadow: none;
}


.img-wrapper{
    
    height: 250px;
}

.img-holder {
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    max-height: 250px;
}

.search-score{
    margin-bottom: 40px;
}

.card-img{
    border-radius: 10px;
    
    max-height: 250px;
}

.card-details{
    margin-top: -10px;
}

hr {
    color: black;
    
}

.point-title {
    height: 40px;
    text-overflow: ellipsis; 
}
