
.gallery-title
{
    font-size: 36px;
    /* color: rgb(47, 49, 179); */
    color: rgb(2, 2, 48);
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid rgb(47, 49, 179);
    border-radius: 5px;
    text-align: center;
    color: rgb(47, 49, 179);
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid rgb(47, 49, 179);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(47, 49, 179);

}
.btn-default:active .filter-button:active
{
    background-color: rgb(47, 49, 179);
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.cards-wrapper{
    margin-top: -40px;
}

/* .card :hover {
    box-shadow: 0 200px 200px 0 rgba(0, 0, 0, 0.2), 0 200px 200px 0 rgba(0, 0, 0, 0.19);
} */
