<div class="container">

  <div *ngIf="!isLoading">
    <div align="center" class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h1>Login</h1>
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
              Username is required!
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              Password is required!
            </div>
          </div>

          <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-success">Submit</button>
        </form>
        <div *ngIf="loginFail" class="alert alert-danger">
          Failed Login!
        </div>
      </div>
    </div>
  </div>




  <div align="center">
    <div *ngIf="isLoading">
      <!-- <img src="https://assets.materialup.com/uploads/0c808b71-7ab1-4035-b9b4-8c44608d3afb/preview" alt="registering..."> -->
      <!-- <img src="./../../../assets/images/login-load.gif" alt="logging in..."> -->
      <img src="./../../../assets/images/login-load-transparent.gif" alt="logging in...">
    </div>
  </div>

</div>