<!-- <nav>
  <div *ngIf="!isLoggedIn">
    <a routerLink="/login">Login |</a>
    <a routerLink="/register">Register |</a>
    <a routerLink="/new">Create</a>
  </div>
  <div *ngIf="isLoggedIn">
    <a routerLink="/home">Home |</a>
    <a routerLink="/new">Create |</a>
    <a routerLink="/explore/all">Explore |</a>
    <a routerLink="/logout">Logout</a>
  </div>
</nav> -->




<div align="center">
  <nav align="center" class="navbar navbar-inverse bs-dark">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false" (click)="toggleNavDropDown()">
        <!-- <span class="sr-only">Toggle navigation</span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Points of Interest</a> -->
      <!-- <div class="navbar-left" id="nav-logo-wrapper">  -->
      <a class="navbar-brand" routerLink="/home">
        <img id="nav-logo" src="./../../../../assets/images/point-icon.png" alt="Points of Interest">
      </a>
      <!-- </div> -->
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div *ngIf="isLoggedIn">
        <ul class="nav navbar-nav">

          <!-- dropdown -->
          <li class="dropdown">
            <a routerLink="/explore/all" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore
              <!-- <span class="caret"></span> -->
            </a>
            <div class="dropdown-menu-div">
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/explore/all">All</a>
                </li>
                <!-- <li role="separator" class="divider"></li> -->
                <li>
                  <a routerLink="/explore/practical">Practical</a>
                </li>
                <!-- <li role="separator" class="divider"></li> -->
                <li>
                  <a routerLink="/explore/recreational">Recreational</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- dropdown end -->



          <!-- create -->

          <li>
            <!-- <li class="active"> -->
            <a routerLink="/new">Add New</a>
          </li>

          <!-- create end -->








          <!-- searchbar -->

          <!-- <div *ngIf="isLoggedIn">
        <form class="navbar-form navbar-left form-horizontal" role="search">
          <div class="input-group">
            <input type="text" class="search-box" placeholder="Search">
            <button type="submit" class="btn">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </form>
      </div> -->

          <li>
            <div id="search-wrapper" align="center">
              <search-bar></search-bar>
            </div>

          </li>
          <!-- searchbar end -->


        </ul>

      </div>



      <div *ngIf="isLoggedIn">
        <ul class="nav navbar-nav navbar-right">

          <!-- user profile -->

          <li class="dropdown">


            <!-- user LOGGED -->

            <div class="logged-user-wrapper" *ngIf="loggedUser">


              <a routerLink="/user/profile/{{loggedUser.username}}" class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">


                
                <img src="{{loggedUser.avatarUrl}}" class="img-circle avatar" alt="Profile Image" onerror="this.onerror=null;this.src='./../../../assets/images/default-avatar.png';"
                />
               

              </a>
              <div class="dropdown-menu-div">
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/user/profile/{{loggedUser.username}}">Profile</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a routerLink="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- end user LOGGED -->






            <!-- user NOT LOGGED -->


            <div class="logged-user-wrapper" *ngIf="!loggedUser">
              <img class="img-circle avatar" src="https://loading.io/spinners/microsoft/lg.rotating-balls-spinner.gif" alt="Profile Image"
              />
            </div>

            <!-- end user NOT LOGGED -->



          </li>
          <!-- user profile end -->
        </ul>
      </div>


      <div *ngIf="!isLoggedIn">

        <ul class="nav navbar-nav navbar-right">
          <!-- login -->
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <!-- login end -->

          <!-- register -->
          <li>
            <a routerLink="/register">Register</a>
          </li>
          <!-- register end -->
        </ul>
      </div>





    </div>
  </nav>
</div>