<div class="col-sm-8 comment-card">
  <div class="panel panel-white post panel-shadow">
    <div class="post-heading">
      <div class="pull-left image">
        <div *ngIf="!commentAuthor">
          <!-- <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image"> -->
          <img src="https://loading.io/spinners/microsoft/lg.rotating-balls-spinner.gif" class="img-circle avatar" alt="user profile image">
        </div>
        <div *ngIf="commentAuthor">
          <a routerLink="/user/profile/{{commentAuthor.username}}">
            <img src="{{commentAuthor.avatarUrl}}" class="img-circle avatar" alt="user profile image" onerror="this.onerror=null;this.src='./../../../assets/images/default-avatar.png';">
          </a>
        </div>
      </div>
      <div class="pull-left meta">
        <div class="title h5">



          <div *ngIf="commentAuthor">
            <a routerLink="/user/profile/{{commentAuthor.username}}">
              <b>{{commentAuthor.username}}</b>
            </a>
          </div>

          <div *ngIf="!commentAuthor">
            <b>unknown</b>
          </div>





          <h6 class="text-muted time">
            <i> commented on:</i>
          </h6>
        </div>
        <h6 class="text-muted time">{{comment._kmd.ect | date: 'medium'}}</h6>
      </div>
      <div *ngIf="userIsAuthor || userIsAdmin" class="pull-right">
        <button (click)="deleteComment()" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <hr>
    <div class="post-description">
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>